<head> 
h5{
  color: #76B8D0;
  font-size:400%;
  letter-spacing: 4px;
 text-decoration: underline;
 text-decoration-color: #28AFB0;
  }
body{
 background-color: #F7A173;
}
h6{
  color: #76B8D0;
  font-size: 250%;
  letter-spacing: 4px;
  text-decoration: underline;
 text-decoration-color: #28AFB0;
}
  h7 {
   color: #76B8D0;
  font-size: 250%;
  letter-spacing: 4px;
  text-decoration: underline;
 text-decoration-color: #28AFB0;
  }
ul{
  list-style-type: none;
  text-align: center;
}
li{
  float: left;
}
li a{
  padding: 20px;
  color:  #28AFB0;
  font-family: "Monaco" , Monospace;
  text-decoration: none;
  border: dashed;
} 
